bcrypt==3.1.7
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.4
django-allauth==0.40.0
django-cors-headers==3.1.0
httpie==2.0.0.dev0
httpie==1.0.3
idna==2.8
Jinja2==2.10.1
MarkupSafe==1.1.1
msgpack==0.6.1
mysql-connector-python==8.0.17
oauthlib==3.1.0
protobuf==3.9.1
pycparser==2.19
pycrypto==2.6.1
Pygments==2.4.2
PyJWT==2.4.0
python3-openid==3.1.0
pytz==2019.2
PyYAML==5.1.2
pyzmq==18.1.0
requests==2.22.0
requests-oauthlib==1.2.0
salt==2019.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
tig==0.0.1
tornado==4.5.3
urllib3==1.25.3
